absl-py==0.15.0
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1623682242746/work
aiohttp-cors==0.7.0
aioredis @ file:///home/conda/feedstock_root/build_artifacts/aioredis_1591809643295/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1621480402277/work/dist
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1610522576431/work
arrow==1.2.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
autograd==1.3
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
binaryornot==0.4.4
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
blessings @ file:///home/conda/feedstock_root/build_artifacts/blessings_1610113315638/work
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.5.30
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1613413856675/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1610093477613/work
clang==5.0
click @ file:///home/conda/feedstock_root/build_artifacts/click_1621503698523/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
cma==2.7.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colorful @ file:///home/conda/feedstock_root/build_artifacts/colorful_1605540393928/work
colorlover==0.3.0
contextvars==2.4
cookiecutter==1.7.3
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1616851478720/work
cycler==0.10.0
cytoolz==0.11.0
daal4py==2021.3.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1614995065708/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1615224146321/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1621187651333/work
deepchem @ file:///home/conda/feedstock_root/build_artifacts/deepchem_1616192315460/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
deprecation @ file:///home/conda/feedstock_root/build_artifacts/deprecation_1589881437857/work
docopt==0.6.2
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
flatbuffers==1.12
future==0.18.2
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpustat @ file:///home/conda/feedstock_root/build_artifacts/gpustat_1606247774321/work
GPy==1.9.9
gpytorch==1.4.1
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1620327500808/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1621565895996/work
h5py==3.1.0
HEBO==0.1.0
hiredis @ file:///home/conda/feedstock_root/build_artifacts/hiredis_1602415245101/work
hpsklearn @ git+https://github.com/hyperopt/hyperopt-sklearn@c66f8df76003b5e72cb242399eeb139f951a1883
hyperopt==0.2.5
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
idna-ssl @ file:///home/conda/feedstock_root/build_artifacts/idna_ssl_1602585794775/work
imagecodecs-lite @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs-lite_1610557085799/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
immutables @ file:///home/conda/feedstock_root/build_artifacts/immutables_1612966314737/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1622775495191/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1620912934572/work/dist/ipykernel-5.5.5-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1609697613279/work
ipython-genutils==0.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1605054537831/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
jinja2-time==0.2.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1615693636836/work
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1612125253553/work
jupyter-packaging @ file:///home/conda/feedstock_root/build_artifacts/jupyter-packaging_1620818624808/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1621649383518/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1618241231046/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1622556871679/work
jupyterthemes==0.20.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1610099771815/work
lesscpy @ file:///home/conda/feedstock_root/build_artifacts/lesscpy_1622404321437/work
lightgbm @ file:///home/conda/feedstock_root/build_artifacts/lightgbm_1618922569983/work
llvmlite==0.35.0
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1616532291993/work
Markdown==3.3.6
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1621455668064/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1611858699142/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1610112872127/work
MolVS==0.1.1
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1610121702224/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1610318996309/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1621947328608/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert_1605401832871/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nose==1.3.7
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1616419146127/work
numba==0.52.0
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1610324545699/work
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
oddt==0.7
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
OpenMM==7.6.0
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.1.5
pandocfilters==1.4.2
paramz==0.9.5
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1595548966091/work
pdbfixer @ file:///home/conda/feedstock_root/build_artifacts/pdbfixer_1631833746479/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickle5 @ file:///home/conda/feedstock_root/build_artifacts/pickle5_1623183313190/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1621287993989/work
plot-metric==0.0.6
ply==3.11
poyo==0.5.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1622586138406/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1616432837031/work
protobuf==3.17.2
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1610127101219/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1620245170812/work
pymoo==0.4.2.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1610146795286/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1610291458349/work
python-dateutil==2.8.1
python-slugify==6.1.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1607290806401/work
PyYAML==5.4.1
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1622038444231/work
ray==1.2.0
redis @ file:///home/conda/feedstock_root/build_artifacts/redis-py_1591044931092/work
reportlab==3.5.67
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-oauthlib==1.3.0
rsa==4.8
scikit-image==0.17.2
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1619628585056/work
scikit-learn-intelex==2021.20210705.191259
scikit-optimize @ file:///home/conda/feedstock_root/build_artifacts/scikit-optimize_1599212891685/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1604304777848/work
seaborn==0.11.1
Send2Trash==1.5.0
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1610127608919/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1610318313243/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1623353962022/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1614001031686/work
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX @ file:///home/conda/feedstock_root/build_artifacts/tensorboardx_1617715858833/work
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1623365315534/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
text-unidecode==1.3
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1591280222285/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1621899879137/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
torch==1.8.1
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094701020/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1617680194207/work
traitlets==4.3.3
tune-sklearn @ file:///home/conda/feedstock_root/build_artifacts/tune-sklearn_1608712584640/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1622056799390/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1610127645125/work
Werkzeug==2.0.2
wrapt==1.12.1
xgboost==1.3.3
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1610354132011/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1614945704755/work
